body{
    background-color: black;
}
.top, .middle, .bottom{
    min-height: 100px;
}

.middle{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.top, .bottom{
    background-color: black;
    color: white;
}
.game {
    padding: 1%;
    border: 1px solid;
}

.preview img {
}
